<launch>
    <arg name="use_rviz" default="true" />

    <param name="robot_description" textfile="$(find HBV2_URDF_description)/urdf/HBV2_URDF.urdf"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

    <include file="$(find HBv2_moveit)/launch/ros_controllers.launch"/>

    <include file="$(find HBv2_moveit)/launch/moveit_rviz.launch" if="$(arg use_rviz)">
        <arg name="rviz_config" value="$(find hb_hw_interface)/launch/manual.rviz"/>
        <arg name="debug" value="false"/>
    </include>
    <node name="hw_interface_myversion_m" pkg="hb_hw_interface" type="hw_interface_myversion_m" output="screen"/> 
    <rosparam file="$(find hb_hw_interface)/config/hw_interface_parameters.yaml" command="load"/>
    <node name="rqt_controller" pkg="rqt_joint_trajectory_controller" type="rqt_joint_trajectory_controller" output="screen"/>

</launch>